{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}stone system{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% block links %}
        {{ links }}
    {% endblock %}
    <style>
    .container{
        background: transparent;
        padding:5px;
        margin:5px;
        display: flex;
        justify-content:center;
        align-items:center;
    }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="inner-block">
          {% block content %}
            {{ content }}
          {% endblock %}
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- js -->
    {% block script %}
    {% endblock %}
  </body>
</html>
